@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Slab", serif;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  height: 200vh;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  z-index: 10;
  background-color: #eff6ff;
  flex: 1;
}

.header-college-info-container {
  display: flex;
  flex-direction: column;
}
.header-navbar ul {
  display: flex;
  font-size: 1rem;
  gap: 5%;
}
.full-height-width {
  height: 100vh;
}
.imageorvideo {
  height: 100vh;
}

.z-scroll-container section {
  position: sticky;
  top: 0;
  display: flex;
  /* justify-content: center;
  align-items: flex-end; */
}
.about-z-scroll-info {
  background-color: #bae6fd;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 5vh 5vw;
}

.about-cards-container {
  display: flex;
  gap: 5%;
  min-height: 40vh;
}

.about-cards {
  border: 1px solid black;
  padding: 5%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.second-z-scroll-info {
  background-color: aquamarine;
  z-index: 3;
}
.third-z-scroll-info {
  background-color: rgb(127, 238, 255);
  z-index: 4;
}
.fourth-z-scroll-info {
  background-color: cadetblue;
  z-index: 5;
}
footer {
  height: 100px;
  bottom: 0;
  z-index: 6;
}
